[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
psycopg = "*"
requests = "*"
pika = "*"
pika-stubs = "==0.1.3"
self = "*"

[dev-packages]

[requires]
python_version = "3.12"
